@import "assets/styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.logo {
  color: $logo-gray;
}

.theme_btn {
  padding: 5px;
  color: $color;
  height: fit-content;
  background: none;
  border: none;
}

.theme_btn > * {
  color: $color;
}
