@import "assets/styles/theme.css";

$bg-color: var(--background-color);
$color: var(--color);
$pagination-color: var(--color);
$pagination-background: var(--background-color);
$pagination-hover: var(--pagination-hover);
$pagination-hover-active: var(--pagination-hover-active);
$transparent: var(--transparent);
$input-bg: var(--input-bg);

$transparent-white-75: #ffffffbf;
$transparent-white-30: #ffffff4d;
$transparent-black-30: #0000004d;
$dimmed-white: #ededed;
$gray: gray;
$white: #ffffff;
$logo-gray: #4c4c4c;
$black: #000000;
$thumb-scroll: #7b7b7b;

$rounded-md: 8px;
$rounded-lg: 20px;

$margin-bottom: 45px;
$gutter: 20px;

$width-xl: 1120px;
$width-lg: 940px;
$width-md: 700px;
$width-sm: 280px;

$padding-xl: 123px;
$padding-lg: 42px;
$padding-md: 34px;
$padding-sm: 20px;

$screen-desktop-lg: 1365px;
$screen-desktop-sm: 1023px;
$screen-tablet: 767px;

@mixin placeholder-shimmer {
  @keyframes placeholder-shimmer {
    0% {
      background-color: $dimmed-white;
    }
    100% {
      background-color: $transparent-white-75;
    }
  }
}

@mixin border-shimmer {
  @keyframes border-shimmer {
    0% {
      border-color: $transparent;
    }
    100% {
      border-color: $gray;
    }
  }
}

@mixin input {
  padding: 15px;
  border-radius: $rounded-md;
  border: 1px solid $transparent;
}
