/* light theme */
html[data-theme="light"] {
  --background-color: #ffffff;
  --color: #000000;
  --border-color: #0000004d;
  --transparent: #0000004d;
  --pagination-hover: #ededed;
  --pagination-hover-active: #464646;
  --input-bg: #efefef;
}

/* dark theme */
html[data-theme="dark"] {
  --background-color: #000000;
  --color: #ffffff;
  --border-color: #ffffff;
  --transparent: #ffffff4d;
  --pagination-hover: #464646;
  --pagination-hover-active: #ededed;
  --input-bg: #ffffff;
}
